<!-- src/app/pages/download/download.component.html -->
<div class="page-container">
  <mat-card class="card">
    <h2>Download File</h2>

    <mat-form-field appearance="outline">
      <mat-label>File Hash</mat-label>
      <input matInput [(ngModel)]="fileHash">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User ID</mat-label>
      <input matInput [(ngModel)]="userId">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="download()">
      Download File
    </button>
  </mat-card>
</div>